body {
    background-image: url("https://s-media-cache-ak0.pinimg.com/736x/d6/ae/3f/d6ae3f1469c1401a738625615eab7053.jpg");
   background-repeat: repeat-y;
    background-position: right top;
    margin-right: 200px;
}
h1 {
    color: black;
    font-family: Lucida Console;
    font-size: 150%;
}
p {
    color: red;
    font-family: Comic Sans MS;
    font-size: 120%;
}
